
:root {
    --projects-title-size: 2rem;
    --projects-subtitle-size: 1rem;
    --projects-description-size: 1rem;
}

#projects {
    margin-bottom: 0;
    padding-bottom: 0;
}
.project-page-title {
    color: var(--default-color);
    background-color: black;
    padding: 50px 0 25px 0;
    text-align: center;
    position: relative;

    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

#project-title,
.project-page-title h1 {
    font-size: var(--projects-title-size);
    font-weight: 700;
    margin-bottom: 10px;
}

#project-title {
    margin-top: 20px; /*El titulo de 1 proyecto puede ser largo*/
}

#project-subtitle,
#project-subtitle-all {
    font-size: var(--projects-subtitle-size);
}

.this-title {
    font-family: 'Consolas';
    color: #d3b677;
}
#project-details-section {
    padding-top:0;
}

#project-details-section .swiper-slide {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;
}


.project-details-item {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;
}

.filters-container {
    display: inline-flex;  /* Solo ocupa el ancho de su contenido */
    align-items: center;   /* Centra verticalmente flecha y texto */
    gap: 12px;             /* El espacio exacto entre la flecha y "Filtros" */
    cursor: pointer;       /* Para que parezca un botón todo el conjunto */
    padding: 10px 0;       /* Espacio superior/inferior */
}

.filters-container p {
    margin: 0;             /* Quitamos el margen por defecto de los párrafos */
}

.tags-container-dropdown {
    display: flex;         /* Alinea los hijos en fila */
    flex-wrap: wrap;       /* Si no caben en una línea, saltan a la siguiente */
    gap: 10px;             /* Crea espacio entre los botones sin usar margin manual */
    padding: 30px 0;
}

.tag-button {
    display: inline-block; /* Permite que el padding y el ancho funcionen correctamente */
    width: auto;           /* El ancho se adapta al contenido (el texto) */
    padding: 8px 20px;
    font-size: 16px;
    /*font-weight: 500;*/
    border-radius: 50px;
    background-color: var(--surface-color);
    border: 2px solid var(--accent-color);
    border-color: var(--accent-color);
    color: var(--contrast-color);
}

.tag-button:hover {
    /*background-color: color-mix(in srgb, var(--accent-color), transparent 80%);*/
    /*border-color: color-mix(in srgb, var(--accent-color), transparent 20%);*/

    /* Compatibility with html2canvas */
    background-color: var(--accent-color);
    border-color: var(--accent-color);

}
/* An active filter means the button is greyed */
.tags-container-dropdown .tag-filter.active {
    background-color: #e0e0e0; /* Gris pálido */
    border-color: #bdbdbd;     /* Borde gris un poco más oscuro */
    color: #757575;            /* Texto grisáceo */
    opacity: 0.8;
}
.tags-container-dropdown .tag-filter.active:hover {
    background-color: #d5d5d5;
    border-color: #aaaaaa;
}

.project-details .swiper-button-prev,
.project-details .swiper-button-next {
    color: var(--accent-color);
    -webkit-text-stroke: 1px black;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
    transform-origin: center;
}

.project-details .swiper-button-prev:after,
.project-details .swiper-button-next:after {
    font-size: 80px;
}
/* Reducir tamaño de flechas en mobile */
@media (max-width: 800px) {
    .project-details .swiper-button-prev:after,
    .project-details .swiper-button-next:after {
        font-size: 50px;
    }
}

.project-details .swiper-button-prev:hover,
.project-details .swiper-button-next:hover {
    transform: scale(1.1);
}

.project-details .swiper-button-prev:active,
.project-details .swiper-button-next:active {
    transform: scale(0.95); /* Pequeño feedback de pulsación */
}

.tag-filter {
    cursor: pointer;
    display: inline-block; /* Permite que el padding y el ancho funcionen correctamente */
    width: auto;           /* El ancho se adapta al contenido (el texto) */
    padding: 8px 20px;
    font-size: 16px;
    /*font-weight: 500;*/
    border-radius: 50px;
    background-color: var(--surface-color);
    border: 2px solid var(--accent-color);
    border-color: var(--accent-color);
    color: var(--contrast-color);
}

.tag-filter:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 80%);
    border-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}


#projects-images-container {
    /* Ancho adaptable:
         - Mínimo: 95% (casi todo el ancho en móvil)
         - Flexible: 70% del ancho de pantalla
         - Máximo: 1000px (para que no se estire infinito en monitores 4K)
      */
    /*width: 60%;*/
    /*padding: 0 40px;*/
    width: clamp(95%, 70%, 1000px);
}





.project-slider {
    position: relative;
    padding-bottom: 50px;
}

.project-slider .swiper-wrapper {
    height: auto !important;
}

.project-slider .swiper-slide {
    height: auto; /* Permite que el slide se adapte al contenedor */
    display: flex; /* Convierte el slide en un contenedor flex */
}


.project-index-item img {
    max-height: 200px;
    /*width: auto; !* Permite que el ancho varíe según la proporción *!*/
    object-fit: contain; /* Mantiene proporción mostrando la imagen ENTERA */
    max-width: 100%; /* Pero que nunca se salga de la tarjeta */
    display: block;
}

.project-hidden {
    display: none;
}

.project-index-item {
    /*Compatibility with html2canvas*/
    /*background: linear-gradient(135deg, var(--surface-color) 0%, rgba(128, 128, 128, 0.02) 100%);*/
    /*background: linear-gradient(135deg, var(--surface-color) 0%, color-mix(in srgb, var(--surface-color), var(--accent-color) 2%) 100%);*/
    background: var(--surface-color);
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Empuja el footer o links al final si quieres */

    /*border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);*/
    /* Compatibility with html2canvas */
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}



.projects  .btn-primary {
    /*background: linear-gradient(135deg, var(--accent-color), color-mix(in srgb, var(--accent-color), var(--heading-color) 20%));*/
    /* Compatibility with html2canvas */
    background: linear-gradient(135deg, var(--accent-color), var(--accent-color));

    color: var(--surface-color);
    padding: 15px 35px;
    margin-left: 30px;
    border-radius: 50px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    border: none;
    transition: all 0.3s;
    /*box-shadow: 0 0 5px color-mix(in srgb, var(--accent-color), transparent 70%);*/
}
@media (max-width: 768px) {
    .projects .btn-primary {
        padding: 10px 20px;    /* Reducimos altura (arriba/abajo) y anchura */
        font-size: 14px;      /* Letra un poco más pequeña para asegurar una línea */
        margin-left: 0;       /* Normalmente en móvil es mejor que no tenga margen lateral */
        white-space: nowrap;  /* PROPIEDAD CLAVE: Prohíbe que el texto salte de línea */
        width: auto;          /* Se ajusta al contenido */
        gap: 6px;             /* Estrechamos el espacio con el icono */
    }
}

.projects  .btn-primary:hover {
    /*transform: translateY(-2px);*/
    transform: scale(1.05);

    /*box-shadow: 0 0 20px color-mix(in srgb, var(--accent-color), transparent 60%);*/

}

.projects  .btn-primary:hover i {
    transform: translateX(5px);
}

.projects  .btn-primary i {
    transition: transform 0.3s ease;
}

.btn-dropdown,
.projects .swiper-button-prev,
.projects .swiper-button-next {
    position: static;
    width: 45px;
    height: 45px;
    margin: 0 10px;
    background: var(--accent-color);
    border-radius: 50%;
    color: var(--surface-color);
    font-size: 16px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.btn-dropdown {
    line-height: 1; /* Evita que el texto empuje el icono hacia abajo */
}
.btn-dropdown:hover,
.projects .swiper-button-prev:hover,
.projects .swiper-button-next:hover {
    /*background: color-mix(in srgb, var(--accent-color), var(--heading-color) 20%);*/
    /* Compatibility with html2canvas */
    background: var(--accent-color);
    transform: scale(1.05);
}
.btn-dropdown::after,
.projects .swiper-button-prev::after,
.projects .swiper-button-next::after {
    font-size: 16px;
    font-weight: 600;
}


.projects .actions {
    display: flex;
    justify-content: space-between; /* Empuja los elementos a los extremos */
    align-items: center;           /* Los alinea verticalmente al centro */
    gap: 20px;                     /* Espacio de seguridad por si la pantalla es pequeña */
    margin: 20px;           /* Separación con el contenido de abajo */
}

.projects .project-index-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    /*background: linear-gradient(90deg, var(--accent-color), color-mix(in srgb, var(--accent-color), var(--heading-color) 30%));*/
    /* Compatibility with html2canvas */
    background: linear-gradient(90deg, var(--accent-color), var(--accent-color));
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

#projects h3 {
    font-family: var(--projects-font);
    font-size: 5rem;
    font-weight: 0;
    position: relative;
}

@media (max-width: 768px) {
    #projects h3 {
        font-size: 65px;
    }
}


.projects .project-index-item h5 {
    font-size: 1rem;
}

#projects h3:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: var(--accent-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

/*#projects h3:before,*/
/*#projects h3:after {*/
/*    content: "";*/
/*    width: 50px;*/
/*    height: 2px;*/
/*    background: var(--accent-color);*/
/*    display: inline-block;*/
/*}*/

/*#projects h3:before {*/
/*    margin: 0 15px 10px 0;*/
/*}*/

/*#projects h3:after {*/
/*    margin: 0 0 10px 15px;*/
/*}*/
.tags-container {
    display: flex;          /* Activa el modo flexible */
    flex-wrap: wrap;       /* ¡La clave! Permite que bajen a la siguiente línea */
    align-items: center;    /* Los alinea verticalmente si tienen distintas alturas */
    margin: 15px;
    gap: 15px;             /* Mantiene el espacio entre botones en ambas direcciones */
}

.tags-container-dropdown {
    max-height: 0;       /* Empieza colapsado */
    overflow: hidden;    /* Oculta lo que sobresale */
    opacity: 0;          /* Invisible */
    transition: all 0.4s ease-in-out; /* Animación suave */
    pointer-events: none; /* Evita que se pueda clicar mientras está oculto */
}

.tags-container-dropdown.show {
    /* CRITICO PARA RESPONSIVE */
    max-height: 200px;
    opacity: 1;
    pointer-events: auto;
    margin-top: 15px;    /* Espacio opcional al abrirse */
}

@media (max-width: 700px) {
    .tags-container-dropdown.show {
        max-height: 500px;
    }
}


.projects .project-index-item {
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.1);
    transition: border-color 0.4s ease;
}
/* Highlight border on hover*/

.projects .project-index-item:hover {
    border-color: var(--accent-color);
}

/* For some amazing reason, this is loading bar in the top of the item*/
/*.projects .project-index-item:hover::before {*/
/*    transform: scaleX(1);*/
/*}*/

/*.projects .project-index-item:hover .testimonial-header img {*/
/*    transform: scale(1.05);*/
/*}*/

.projects .project-index-item:hover .quote-icon {
    color: var(--accent-color);
    transform: scale(1.1);
}

@media (max-width: 991px) {
    .projects .project-index-item {
        margin-bottom: 30px;
    }
}

/* Girar la flecha cuando se abre */
.btn-dropdown.active i {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.btn-dropdown {
    cursor: pointer;
}

.project-content {
    font-size: var(--projects-description-size);
}


/* Linea entre descripcion y repo-link*/
@media (min-width: 768px) {
    .links-container-detail {
        margin: 0 100px;
    }
    .border-end-md {
        border-right: 1px solid var(--accent-color); /* Color gris suave de Bootstrap */
    }
}


.project-link {
    margin: 0 7px;
}

.line-separator {

    border: none;
    opacity: 1; /* Bootstrap suele ponerle opacity baja, la subimos */

    /* 2. Dimensiones */
    width: 60%;       /* El largo que quieras */
    height: 1px;       /* El grosor */

    background-color: var(--accent-color); /* Tu color turquesa/verde */
    margin: 40px 0 10px 0; /* Margen inferior para separarla del texto */

    border-radius: 2px;
}

@media (max-width: 770px) {}
.line-separator-container {
    margin-top: 20px;
}



[data-aos="grow-left"] {
    width: 0;
    transition-property: width;
}

[data-aos="grow-left"].aos-animate {
    width: 60%;
}


.links-container,
.links-container-detail {
    display: flex;
    justify-content: center;
}
.links-container-detail a,
.links-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: var(--accent-color);
    border-radius: 50%;
    color: var(--surface-color);
    font-size: 15px;
    transition: all 0.3s ease;
}

.links-container-detail a
{
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.links-container-detail a:hover,
.links-container a:hover {
    background: var(--contrast-color);
    color: var(--surface-color);
    transform: translateY(-3px);
}
